core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
myenv/
venv/
inputs/
outputs/modelling_evaluation_v1
outputs/modelling_evaluation_v2
outputs/modelling_evaluation_v3
outputs/modelling_evaluation_v4
outputs/modelling_evaluation_v6